{
    "languageId": "zh_CN",
    "productLanguageId": "zh_CN",
    "channelOpenId": "120",
    "channelLastOpenId": "120",
    "isSSD": true,
    "fromInstall": true,
    "multiPlayerSort": 0,
    "framesPerSecond": 20,
    "reduceAudio": true,
    "displayMode": true,
    "vmdkFastMode": true,
    "cloneFromSmallDisk": false,
    "windowsAlignType": 0,
    "windowsRowCount": 6,
    "windowsAutoSize": true,
    "sortwndnotoutscreen": true,
    "moreScreenSortInSame": true,
    "windowsOrigin": {
        "x": 0,
        "y": 0
    },
    "windowsOffset": {
        "x": 40,
        "y": 40
    },
    "batchStartInterval": 5,
    "batchNewCount": 5,
    "batchCloneCount": 5,
    "windowsRecordPos": false
}